/* Landing Page Style */

h1 {
    letter-spacing: 3px;
}

p {
    letter-spacing: 2px;
}

h5 {
    letter-spacing: 3px;
}

/* unvisited link */
a:link {
    color:  rgb(67, 156, 230);
  }
  
  /* visited link */
  a:visited {
    color: rgb(43, 102, 150);
  }
  
  /* mouse over link */
  a:hover {
    color: rosybrown;
  }

/* Inventory Button */
#inventoryBtn {
    letter-spacing: 3px;
    margin-right: 10%;
    background-color: rgb(43, 102, 150);
    border: none;
    padding: 5px 20px 5px 20px;
    float: right;
}

/* //////////////////// Brielle's styling ///////////////// */

.invNav{
  display: flex;
  justify-content:space-between;
  padding: 2rem;
  align-items: center;
}


/* Inventory Button Hidden at Smaller View Ports */
@media screen and (min-width: 0px) and (max-width: 400px) {
    #inventoryBtn { display: block; }  /* show it on small screens */
    /* #tableBody {
  padding: 0px; */
}
  
  
@media screen and (min-width: 401px) and (max-width: 1024px) {
    #inventoryBtn { display: none; }   /* hide it elsewhere */
    /* #tableBody {padding: 0px;
    margin: 0px;} */
}

  /* alert max quantity in order form*/
  input:invalid {
    border: 1px solid #FF0000;
}
