<style>
    body {
        background-color: #002855;
    }
</style>
<nav class="navbar w-full px-8 py-4 flex justify-between items-center">
    <a href="/"><img class="h-12" src="/img/heimdall_smaller.png" alt="heimdall logo"></a>
    <div class="flex gap-4">
        {{!-- NewOrder button --}}
        <button type="button" id="newOrder" class="btn-primary text-sm">New Order</button>

        {{!-- NewInventory button --}}
        <button type="button" id="newInventory" class="btn-primary text-sm">New Inventory</button>
    </div>
</nav>

<div class="card w-full my-8 mx-auto max-w-7xl min-h-screen">
    <h2 class="text-center text-3xl font-bold mb-8">Current Inventory</h2>
    <div class="overflow-x-auto">
        <table class="min-w-full divide-y divide-gray-200">
            <thead class="bg-gray-50">
                <tr>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">#</th>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">SKU</th>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Name</th>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Description</th>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Wholesale</th>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">MSRP</th>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Quantity</th>
                </tr>
            </thead>
            <tbody id="data-container" class="bg-white divide-y divide-gray-200"></tbody>
        </table>
    </div>
</div>

<!-- Footer -->
<div class="bg-heimdall-navy py-8">
    <img src="/img/heimdall.base.png" class="mx-auto block w-full max-w-2xl px-8" alt="Heimdall logo footer.">
</div>

<script src="/js/newOrder.js"></script>
<script src="/js/newInventory.js"></script>
<script src="/js/updateProd.js"></script>