<h1>Inventory</h1>

{{!-- NewOrder button --}}
 <button type="button"   id = "newOrder" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">New Order</button>

 {{!-- NewInventory button --}}
 <button type="button"   id = "newInventory" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">New Inventory</button>