<nav class="navbar-light bg-light invNav">
    <a href="/"><img class="invLogo" src="/img/heimdall_smaller.png" alt="heimdall logo"></a>
    <form class="form-inline">
        {{!-- NewOrder button --}}
        <button type="button" id="newOrder" class="btn btn-primary btn-sm mx-4 my-sm-0" data-toggle="modal"
            data-target="#exampleModal" data-whatever="@mdo">New Order</button>

        {{!-- NewInventory button --}}
        <button type="button" id="newInventory" class="btn btn-primary btn-sm my-sm-0" data-toggle="modal"
            data-target="#exampleModal" data-whatever="@mdo">New Inventory</button>
    </form>
</nav>
<div class="container my-5">
    <table id="invTable" class="table table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">SKU</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Wholesale</th>
                <th scope="col">MSRP</th>
                <th scope="col">Quantity</th>
            </tr>
        </thead>
        <tbody id="data-container">

        </tbody>
    </table>
</div>
<!-- Footer -->
      <div class="card text-white" id="pagination-container" style="background-color: #002855;">
        <img src="../public/img/heimdall.base.png" class="mx-auto d-block img-fluid" alt="Fabric samples pinned to noted paper." style="max-width: 50%; padding: 5%;">
    </div>

<script src="/js/newOrder.js"></script>
<script src="/js/newInventory.js"></script>
<script src="/js/updateProd.js"></script>
