<!--Heading-->
<div class="jumbotron jumbotron-fluid" style="background-color: white;">
  <div class="container">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="/img/heimdall_smaller.png" alt="Heimdall Logo" style="max-width: 70%;">
      </div>
      <div class="col-md-8">
        <!--Button to take you to INVENTORY-->
        <a href="/inventory">
          <button type="button" class="btn btn-primary" id="inventoryBtn">Inventory</button>
        </a>
      </div>
    </div>
  </div>
</div>

<!-- Thor -->
      <div class="card mb-3 mx-auto" style="border: none;">
        <div class="row no-gutters" style="margin: -12% 10% 0% 10%;">
          <div class="col-md-4 my-auto">
            <div class="card-body">
              <h2 class="card-title">Looking for something so hard it almost seems like ...</h2>
            </div>
          </div>
          <div class="col-md-8">
            <img src="../public/img/thor.hero.png" class="card-img" alt="Animated Thor stuck in a mess of electronics." style="max-width: 80%; margin: 10%;">
          </div>
        </div>
      </div>

      <!-- Loki -->
      <div class="card mb-3 mx-auto" style="border: none;">
        <div class="row no-gutters" style="margin: -5% 10% 0% 10%;">
            <div class="col-md-8">
                <img src="../public/img/loki.hero.png" class="card-img" alt="Loki hiding something behind him." style="max-width: 90%;">
              </div>
          <div class="col-md-4 my-auto">
            <div class="card-body">
                <h2 class="card-title">... Someone is hiding it from you?</h2>
              </div>
          </div>
        </div>
      </div>

      <!-- Heimdall Jumbo -->
      <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <img src="../public/img/heimdall.hero.png" class="mx-auto d-block img-fluid" alt="Heimdall standing among flames." style="max-width: 80%; margin-top: -10%;">
            <div class="mx-auto d-block" style="margin-top: -7%;">
                <h1 class="display-4">The all-seeing, all-hearing Heimdall can find what you're looking for.</h1>
                <h2 class="lead">So you can have full access to your inventory without all of the sibling rivalry…</h2>
            </div>
        </div>
      </div>

      <!-- Happy Thor -->
      <div class="card mb-3 mx-auto" style="border: none;">
        <div class="row no-gutters" style="margin: 10%;">
          <div class="col-md-5 my-auto">
            <div class="card-body">
              <h5 class="card-title">Take back control of your inventory.</h5>
              <p class="card-text">Heimdall makes product management a breeze!</p>
            </div>
          </div>
          <div class="col-md-7">
            <img src="../public/img/thor.happy.hero.png" class="card-img" alt="A happy Thor using Heimdall on his computer." style="max-width: 90%; margin: 10%;">
          </div>
        </div>
      </div>

      <!-- Footer -->
      <div class="card text-white" id="pagination-container" style="background-color: #002855;">
        <img src="../public/img/heimdall.base.png" class="mx-auto d-block img-fluid" alt="Fabric samples pinned to noted paper." style="max-width: 50%; padding: 5%;">
    </div>