<!--Heading-->

<nav class="navbar-light vw-100 p-5 mb-5 d-flex justify-content-between">
  <img class="p-5 ml-5" src="/img/heimdall_navy_blue.png" alt="Heimdall Logo" style="max-width: 35%; margin: auto;">
  <!--Button to take you to INVENTORY-->
  <a href="/inventory" class="p-5 mr-5">
    <button type="button" class="btn btn-primary" id="inventoryBtn">Inventory</button>
  </a>
</nav>

<!-- Thor -->
<div class="container p-5 d-flex flex-row justify-content-center align-items-center col-12"
  style="border: none; margin-top: 5rem; margin-bottom: 10rem;">
  <h2 class="col-5" style="padding: 0% 5%;">Looking for something so hard it almost seems like ...</h2>
  <img src="/img/thor.hero.png" class="card-img ml-5 col-8" alt="Animated Thor stuck in a mess of electronics." style="padding: 0% 5%;">
</div>

<!-- Loki -->
<div class="container p-5 d-flex flex-row justify-content-center align-items-center col-12"
  style="border: none; margin-top: 20rem; margin-bottom: 20rem; padding: 15%;">
  <img src="/img/loki.hero.png" class="card-img mr-5 col-8" alt="Animated Thor stuck in a mess of electronics." style="padding: 0% 5%;">
  <h2 class="col-5" style="padding: 0% 5%;">...someone is hiding it from you?</h2>
</div>


<!-- Heimdall Jumbo -->
<div class="jumbotron jumbotron-fluid" style="background-color: #002855; padding: 15%;">
  <div class="container mx-auto">
    <img src="/img/heimdall.hero.png" class="mx-auto d-block img-fluid pb-5" alt="Heimdall standing among flames." style="padding: 2% 2% 0% 2%;">
    <div class="mx-auto d-block">
      <h2 class="display-4 text-center" style="color: azure;">The all-seeing, all-hearing Heimdall can find what you're looking for.</h2>
      <h3 class="lead text-center" style="color: azure;">So you can have full access to your inventory without all of the sibling rivalry…
      </h3>
    </div>
  </div>
</div>

<!-- Happy Thor -->
<div class="container p-5 d-flex flex-row justify-content-center align-items-center col-12"
  style="border: none; margin-top: 15rem; margin-bottom: 15rem;">
  <div class="col-7" style="padding: 8%;">
    <h2>Take back control of your inventory.</h2>
    <h3 class=" display-5">Heimdall makes product management a breeze!</h3>
  </div>
  <img src="/img/thor.happy.hero.png" class="card-img ml-6 col-6" alt="A happy Thor using Heimdall on his computer.">
</div>


<!-- Footer -->
<div class="card text-white" id="pagination-container" style="background-color: #002855;">
  <img src="/img/heimdall.base.png" class="mx-auto d-block img-fluid" alt="Fabric samples pinned to noted paper."
    style="max-width: 50%; padding: 5%;">
</div>