<!--Heading-->
<nav class="navbar w-full p-8 mb-12 flex justify-between items-center">
  <img class="p-8 ml-8 max-w-md" src="/img/heimdall_navy_blue.png" alt="Heimdall Logo">
  <!--Button to take you to INVENTORY-->
  <a href="/inventory" class="p-8 mr-8">
    <button type="button" class="btn-primary" id="inventoryBtn">Inventory</button>
  </a>
</nav>

<!-- Thor -->
<div class="container mx-auto px-8 py-12 flex flex-col md:flex-row justify-center items-center gap-8">
  <h2 class="text-3xl md:text-4xl font-bold text-gray-800 md:w-1/2">Looking for something so hard it almost seems like ...</h2>
  <img src="/img/thor.hero.png" class="w-full md:w-2/3 rounded-lg" alt="Animated Thor stuck in a mess of electronics.">
</div>

<!-- Loki -->
<div class="container mx-auto px-8 py-12 flex flex-col md:flex-row-reverse justify-center items-center gap-8 mb-12">
  <h2 class="text-3xl md:text-4xl font-bold text-gray-800 md:w-1/2">...someone is hiding it from you?</h2>
  <img src="/img/loki.hero.png" class="w-full md:w-2/3 rounded-lg" alt="Animated Loki being mischievous.">
</div>

<!-- Heimdall Jumbo -->
<div class="bg-heimdall-navy py-24 px-8">
  <div class="container mx-auto max-w-6xl">
    <img src="/img/heimdall.hero.png" class="mx-auto block w-full max-w-2xl pb-12" alt="Heimdall standing among flames.">
    <div class="mx-auto text-center">
      <h2 class="text-4xl md:text-5xl font-bold text-white mb-6">The all-seeing, all-hearing Heimdall can find what you're looking for.</h2>
      <h3 class="text-xl md:text-2xl text-gray-200">So you can have full access to your inventory without all of the sibling rivalry…</h3>
    </div>
  </div>
</div>

<!-- Happy Thor -->
<div class="container mx-auto px-8 py-24 flex flex-col md:flex-row justify-center items-center gap-12 my-24">
  <div class="md:w-1/2 space-y-4">
    <h2 class="text-4xl font-bold text-gray-800">Take back control of your inventory.</h2>
    <h3 class="text-2xl text-gray-600">Heimdall makes product management a breeze!</h3>
  </div>
  <img src="/img/thor.happy.hero.png" class="w-full md:w-1/2 rounded-lg" alt="A happy Thor using Heimdall on his computer.">
</div>

<!-- Footer -->
<div class="bg-heimdall-navy py-12">
  <img src="/img/heimdall.base.png" class="mx-auto block w-full max-w-2xl px-8" alt="Heimdall logo footer.">
</div>