{{!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">New Order</button>

   <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content"> --}}
<!-- <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">New Order</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div> -->
<!--NewOrder table display  -->
<div class="card">
  <h3 class="card-header text-center font-weight-bold text-uppercase py-4">New Order</h3>
  <div class="card-body">
    <div id="table" class="table-editable">

      <span class="table-add float-right  mb-3 mr-2"><a href="#!" class="text-success">
          <i class="fas fa-plus fa-2x" aria-hidden="true"></i></a></span>

      <br>

      <table class="table table-bordered table-responsive-md ta  ble-striped text-center">
        <thead>
          <tr>
            <th class="text-center">Buy/Sell</th>
            <th class="text-center">Client Name</th>
            <th class="text-center">SKU</th>
            <th class="text-center">Quantity</th>
            <th class="text-center"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="pt-3-half" contenteditable="true">
<<<<<<< HEAD
              <select id="buy-sell">
                <option value="" disabled selected hidden>Select</option>
              </select>
            </td>
            <td class="pt-3-half" contenteditable="true"></td>
            <td class="pt-3-half" contenteditable="true"></td>
            <td class="pt-3-half" contenteditable="true"></td>
            <td>
              <span class="table-remove"><button type="button"
                  class="btn btn-danger btn-rounded btn-sm my-0">Remove</button></span>
=======
              <select id="buy-sell"><option value="" disabled selected hidden>Select</option></select>
>>>>>>> 612060cc77cfad7fc45560ead7e9513a20b82b09
            </td>
            <td id="client-name" class="pt-3-half" contenteditable="true"><input></td>
            <td id="sku" class="pt-3-half" contenteditable="true"></td>
            <td id="quantity" class="pt-3-half" contenteditable="true"></td>
            <td ><span class="table-remove"><button type="button" class="btn btn-danger btn-rounded btn-sm my-0">Remove</button></span></td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="modal-footer">
        <button type="button" id="submit-order" class="btn btn-primary">Save changes</button>
        <button type="button" id = "close-screen" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>

<script src="/js/newOrder.js"></script>