<nav class="navbar-expand-md navbar-light bg-light invNav">
  <a href="/"><img class="invLogo" src="/img/heimdall_smaller.png" alt="heimdall logo"></a>
  <form class="form-inline">

    {{!-- NewInventory button --}}
    <button type="button" id="goCurrent" class="btn btn-primary btn-sm my-sm-0" data-toggle="modal">Current
      Inventory</button>
  </form>
</nav>

<div class="container">
  <h2>
    <center><b>Product Search</b></center>
  </h2>
  <h4>
    <center>Search by Category</center>
  </h4>
  <hr>

  <div class="row">
    <div class="col-lg-12">
      <div class="card mb-4">
        <div class="card-header">
          <h4>List of Categories</h4>
        </div>

        <div class="card-body">
          <div class="jumbotron">

            <select class="custom-select" id="selectCategory">
              <option value="None">-- Select --</option>
              <option value="pcmcat241600050001">Home Audio </option>
              <option value="abcat0910000">Washer and Dryer</option>
              <option value="abcat0502000">Laptops</option>
              <option value="pcmcat232900050000">Ninendo 3DS</option>
              <option value="pcmcat310200050004">Portable and Wireless Speakers</option>
              <option value="abcat0101000">TV</option>
              <option value="abcat0901000">Refrigerators</option>
              <option value="abcat0204000">Headphones</option>
              <option value="pcmcat300300050002">Xbox One</option>
              <option value="pcmcat242800050021">Health, Fitness and Beauty</option>
            </select>
            <br>
            <br>

            <input type="text" id="category-search" class="form-control">
            <br>
            
            <div class="text-right">
              <button type="submit" class="btn btn-primary btn-md" id="sku-search-btn">
                <span class="fa fa-search"></span> Search Products By Category.</button>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="row">

    <div class="col-lg-12">

      <div class="card">
        <div class="card-header">
          <h4>Product Details</h4>
        </div>
        <div class="card-body" id="product-section">
          <!-- Content will go in here -->
        </div>
      </div>
    </div>
  </div>
</div>

<script src="/js/skuLookup.js"></script>