<nav class="navbar-expand-md navbar-light bg-light invNav">
  <a href="/"><img class="invLogo ml-5" src="/img/heimdall_smaller.png" alt="heimdall logo"></a>
  <form class="form-inline mr-5">

    {{!-- NewInventory button --}}
    <button type="button" id="goCurrent" class="btn btn-primary btn-sm my-sm-0" data-toggle="modal"
      data-target="#exampleModal" data-whatever="@mdo">Current Inventory</button>
  </form>
</nav>
<div class="container mx-auto">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <h2><b>
          <center>Update Product</center>
        </b></h2>
      <form class="updateProduct">

        <div class="form-group d-flex justify-content-center">
          <label for="sku" id="skuNum"></label>
        </div>

        <div class="form-group">
          <label for="productName">Product Name</label>
          <input type="text" class="form-control" id="productName" value="">
        </div>

        <div class="form-group">
          <label for="quantity">Quantity</label>
          <input type="number" class="form-control" id="quantity" value="">
        </div>

        <div class="form-group">
          <label for="productDescription">Product Description</label>
          <input type="text" class="form-control" id="productDescription" value="">
        </div>

        <div class="form-group">
          <label for="productDescription">Cost</label>
          <input type="number" step="0.01" class="form-control" id="cost" value="">
        </div>

        <div class="form-group">
          <label for="sellPrice">Sell Price</label>
          <input type="number" step="0.01" class="form-control" id="sellPrice" value="">
        </div>

        <div style="display: none" id="alert" class="alert alert-danger" role="alert">
          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
          <span class="sr-only">Error:</span> <span class="msg"></span>
        </div>

        <button type="submit" class="btn btn-default">Update</button>
      </form>

    </div>
  </div>
</div>

<script src="/js/updateProd.js"></script>